/* Gallery page components */
#search-form {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px #0000000d;
  width: 70%;
  margin: 3rem auto;
  padding: 1.5rem;
}

#search-bar, #select-dropdown {
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 1.25rem;
  font-size: 1rem;
}
#search-bar {
  padding: .6rem 1.25rem;
  border-radius: 50px;
}
#select-dropdown {
  padding: .6rem 1rem;
  border-radius: 7.5px;
}

#tags {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: 1.25rem;
}
.tag {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: .6rem .8rem;
    font-size: .9rem;
    cursor: pointer;
}
.tag.is-checked {
    background-color: black;
    color: white;
    border: black;
}
.tag.is-checked::after {
    content: "✕";
    margin-left: .35rem;
}
.tag-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

#gallery-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
    margin: 0 auto;
}
#item-card-hint {
    font-style: italic;
    margin-top: 2rem;
}
.item-card {
    border: 1px solid #ddd;
    border-radius: 12px;
    text-decoration: none;
    overflow: hidden;
    text-align: left;
    vertical-align: center;
    cursor: pointer;
}
.item-card img { 
    width: 100%; 
    aspect-ratio: 4/3;
    object-fit: fill; 
}
.item-card > div {
    padding: .5rem .75rem;
    margin-bottom: 1rem;
}
.item-card-tag {
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: .15rem .5rem;
    margin-bottom: .15rem;
    font-size: .7rem;
}
.item-card:hover { box-shadow: 0px 0px 10px #0000002f; }
.item-card:link, .item-card:visited { color: inherit; }
.item-card-box { font-size: .8rem; }

#item-not-found {
    grid-column: 1 / -1;
    margin-left: 1rem;
    font-size: 1rem;
}
#item-not-found span {
    font-size: 1.75rem; 
    margin-right: .25rem;
}

#item-modal {
  border: none;
  border-radius: 12px;
  padding: 0;
  text-align: left;
  width: 50%;
  max-width: 600px;
  max-height: 80%;
  box-shadow: 0px 0px 20px #0000005f;
}
#item-modal > div > * {
    padding: 0 1.5rem;
}
#item-modal ul {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
#item-modal::backdrop { background: #00000080; }
#item-modal img { 
    padding: 0;
    width: 100%; 
    height: 50%;
    object-fit: contain; 
}
.item-modal-tag {
    font-size: .8rem;
    margin-bottom: .25rem;
 }
#item-modal-delete-btn, #item-modal-close-btn {
    border: 1px solid #ddd;
    font-size: 1rem;
    padding: .5rem .75rem;
    cursor: pointer;
    border-radius: 3px;
}
#item-modal-delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
}
