{% if items %}
    {% for i in items %}
        <a href="#" class="item-card">
            <img src="{{ i.image.strip('\"') }}">
            <div>
                <p class="item-card-title">{{ i.title }}</p>
                <p class="item-card-box">Box: {{ i.box_description }}</p>
                <div>
                    {% for t in i.tags %}
                        <span class="item-card-tag">{{ t }}</span>
                    {% endfor %}
                </div>
            </div>
        </a>
    {% endfor %}
{% else %}
        <p id="item-not-found"><span>⚠️</span>No items found.</p>
{% endif %}
