<dialog id="item-modal"></dialog>

{% if items %}
    {% for i in items %}
        <!-- item card containing all the details (image, title, etc.) -->
        <div 
            id="item-card-{{ i._id }}"
            class="item-card"
            onclick="showItemModal(this)"
            data-item='{{ i | tojson }}'
        >
            <!-- image of the item -->
            <img src="{{ i.image.strip('\"') }}">
            
            <!-- title of the item, box it belongs to, and its item tags -->
            <div>
                <p>{{ i.title }}</p>
                <p class="item-card-box">Box: {{ i.box }}</p>
                <div>
                    {% for t in i.tags %}
                        <span class="item-card-tag">{{ t }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
        <!-- display message if no items are retrieved -->
        <p id="item-not-found"><span>⚠️</span>No items found.</p>
{% endif %}
