<!-- https://htmx.org/examples/active-search/ -->
 
{% extends "base.html" %}

{% block title %}Find My Stuff{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
<script src="{{ url_for('static', filename='toggleItemTag.js') }}"></script>
<script src="{{ url_for('static', filename='showItemModal.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='gallery.css') }}">
{% endblock %}

{% block content %}
<h1>Find My Stuff</h1>

<div id="search-form">
    <!--
        The following actions (hx-trigger) will trigger the GET request (hx-get):
        - typing in the search bar
        - clicking on the cross in the search bar
        - selecting a box from the dropdown
        - clicking on an item tag 
    -->
    <form
        hx-get="{{ url_for('gallery.filtered_view') }}"
        hx-target="#gallery-items"    
        hx-push-url="true"
        hx-sync="this:replace"
        hx-trigger="
            keyup changed delay:300ms from:input,
            search from:input[type='search'],
            change from:select,
            change from:input[name='tags']
        "
    >

        <!-- search bar for items -->
        <input id="search-bar" type="search" name="search" placeholder="Search" value="{{ default_search }}"/>

        <!-- dropdown to select boxes -->
        <select id="select-dropdown" name="box">
            <option value="" {% if default_box_id == '' %}selected{% endif %}>All Boxes</option>
            {% for box_id, desc in all_boxes.items() %}
                <option value="{{ box_id }}" {% if default_box_id == box_id %}selected{% endif %}>{{ desc }}</option>
            {% endfor %}
        </select>

        <!-- toggles for item tags -->
        <div id="tags">
            {% for t in all_tags %}
                <label class="tag {% if t in checked_tags %}is-checked{% endif %}">
                    <input
                        type="checkbox"
                        class="tag-checkbox"
                        name="tags"
                        value="{{ t }}"
                    >
                    <span>{{ t }}</span>
                </label>
            {% endfor %}
        </div>
    </form>

    <!-- displaying items retrieved from MongoDB -->
    <p id="item-card-hint"><small>Click an item card to view more details.</small></p>
    <div id="gallery-items">
        {% include "gallery_items.html" %}
    </div>
</div>
{% endblock %}
