<!-- https://htmx.org/examples/active-search/ -->
 <!-- https://select2.org/getting-started/basic-usage -->
 
{% extends "base.html" %}

{% block title %}Find My Stuff{% endblock %}

{% block head %}
<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='gallery.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">

<!-- JS libraries -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>

<!-- Custom JS -->
<script src="{{ url_for('static', filename='initSelect2.js') }}" defer></script>
<script type="module" src="{{ url_for('static', filename='showItemModal.js') }}" defer></script>
{% endblock %}

{% block content %}
<h1>Find My Stuff</h1>

<div id="search-form">
    <!--
        The following actions (hx-trigger) will trigger the GET request (hx-get):
        - typing in the search bar
        - clicking on the cross in the search bar
        - selecting a box from the dropdown
        - clicking on an item tag 
    -->
    <form
        hx-get="{{ url_for('gallery.filtered_view') }}"
        hx-target="#gallery-items"    
        hx-push-url="true"
        hx-sync="this:replace"
        hx-trigger="
            keyup changed delay:300ms from:input,
            search from:input[type='search'],
            change from:#select-multiple-boxes,
            change from:#select-multiple-tags,
        "
    >

        <!-- search bar for items -->
        <input
            id="search-bar" 
            type="search" 
            name="search" 
            placeholder="Search item description" 
            value="{{ current_search }}"
        />

        <!-- dropdown to select boxes -->
        <select id="select-multiple-boxes" name="boxes" multiple>
            {% for box_id, desc in all_boxes.items() %}
                <option value="{{ box_id }}" {% if box_id in selected_boxes %}selected{% endif %}>{{ desc }}</option>
            {% endfor %}
        </select>

        <!-- dropdown to select tags -->
        <select id="select-multiple-tags" name="tags" multiple>
            {% for t in all_tags %}
                <option value="{{ t }}" {% if t in selected_tags %}selected{% endif %}>{{ t }}</option>
            {% endfor %}
        </select>
    </form>

    <!-- displaying items retrieved from MongoDB -->
    <p id="item-card-hint">Click an item card to view more details.</p>
    <div id="gallery-items">
        {% include "gallery_items.html" %}
    </div>
</div>
{% endblock %}
