{% extends "base.html" %}

{% block title %}Keeping Stock{% endblock %}

{% block content %}
<h1>Smart Inventory Management</h1>

<div id="mainButtons">
    <button class="take-image-btn" id="showCameraBtn">Create Item</button>
    <button class="take-image-btn" id="boxBtn">Create Box</button>
    <button class="take-image-btn" id="searchBtn" onclick="window.location.href='/gallery'">Search Items/Boxes</button>
    <button class="take-image-btn" id="scanQrBtn">Scan QR Code</button>
</div>

<!-- Live camera feed (hidden initially) -->
<div id="cameraContainer" style="display:none; margin-top:10px;">
    <video id="cameraFeed" autoplay playsinline></video>
    <br>
    <div id="cameraControls" style="margin-top:10px;"></div>
</div>

<!-- Snapshot gallery for Testing-->
<div id="snapshotGallery"></div>

<!-- Include jsQR library for qr code scanning-->
<script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.js"></script>
<script src="{{ url_for('static', filename='qrcodescan.js') }}"></script>

<!-- Jump to create item page -->
<script>
    const showCameraBtn = document.getElementById('showCameraBtn');
    showCameraBtn.addEventListener('click', () => {
        window.location.href = '/items/create';;
    });
</script>
    

{% endblock %}
